<html>
    <head>
        <title>Send Transaction</title>
    </head>
    <body>
        <p id="p1">Description = Send ETH to an address</p>
        <p id="p2">...</p>
        <p>Address</p><input type="text" size="50" id="address" /><br>
        <p>Amount (Ether)</p><input type="text" size="50" id="amount" />
        <button type="button" onClick="sendETH()">Send</button>
    </body>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="./web3.min.js"></script>
    <script type="text/javascript" src="./constants.js"></script>

    <script>
        // Due to browser security restrictions, we can't communicate with dapps running on file://. Please use a local server for development.
        // https://github.com/MetaMask/faq/blob/master/DEVELOPERS.md

        function validateAddress(address){
            return web3.isAddress(address);
        }

        window.addEventListener('load', async () => {
        // Modern dapp browsers...(Metamask installed and supported)
        if (window.ethereum) {
            
            console.log(`window.ethereum == true`);

            window.web3 = new Web3(ethereum);
            try {
                // Request account access if needed
                // await ethereum.enable();
                // Acccounts now exposed
                    
                $('#p2').html(`Using Metamask!`);
                

            } catch (error) {
                // User denied account access...
                console.log(`Error: ${error}`);
            }
        }

        // Legacy dapp browsers...
        else if (window.web3) {
            console.log(`window.web3 == true`);
            window.web3 = new Web3(web3.currentProvider);
            $('#p2').html(`Legacy dapp browser detected. window.web3 == true == ${window.web3}`);
            // Acccounts always exposed
        }

        // Non-dapp browsers...(Metamask not installed. Use Infura as fallback)
        else {
            console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');

            if (typeof web3 !== 'undefined') {
                console.log('Web3 Detected! Provider = ' + web3.currentProvider.constructor.name);
                
                window.web3 = new Web3(web3.currentProvider);
            } else {
                console.log('No Web3 Detected... using HTTP Provider')
                window.web3 = new Web3(new Web3.providers.HttpProvider(`https://ropsten.infura.io/v3/${infura_key}`));

                if(window.web3){
                    var provider = web3.currentProvider.constructor.name;
                    $('#p2').html(`Using Infura as Metamask is not installed!`);
                }
            }
        }
    });

    async function sendETH(){
        try{
            let address = $('#address').val();
            let amount = $('#amount').val();

            console.log(`Address = ${address}`);
            console.log(`Amount = ${amount}`);

            await ethereum.enable();

            web3.eth.getAccounts(function(err, accounts){
                if (err != null) {
                    console.log(err)
                }
                else if (accounts.length === 0) {
                    console.log('MetaMask is locked');
                    $('#p2').html(`MetaMask is connected, but locked. Could not retrieve accounts!`);
                }
                else {
                    // $('#p2').html(`Accounts = ${accounts}`);  
                    console.log(`Accounts = ${accounts}`);  

                    var value = web3.toWei(amount, 'ether');
                    console.log(`Amount (wei) = ${value}`);

                    let isAddressValid = validateAddress(address);

                    let transaction_object = {
                        to: address,
                        from: accounts[0],
                        value: value
                    }

                    console.log(`Transaction Object = ${transaction_object}`);

                    if(isAddressValid && value > 0 && value != null){
                        var result = web3.eth.sendTransaction(transaction_object , (error, result) => {
                                        if(error){
                                            console.log(`Error = ${error}`);
                                        }
                                        console.log(`Result = ${result}`);
                                    });
                    }else{
                        console.log(`Address or Amount is incorrect`);
                        $('#p2').html(`Address or Amount is incorrect`);
                    }                
                }
            });


        } catch (err){
            console.log(`Error = ${err}`);
        }
    }
    </script>
</html>